.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.cont {
  width: 400px;  
        overflow: hidden; 
        padding: 50px;
	margin:auto;
        background: #128a02d0;  
        border-radius: 15px ;
  background-color: rgba(255, 255, 255, 0.253);
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
body{
  /* background-image: url("nature.jpg"); */
  background-repeat:no-repeat;
  background-position:center;
  position: relative;
  background-size: cover;
}

/* Set a style for the submit button */
.bttn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/*
.cen{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/
.bttn:hover {
  opacity: 1;
}

.theme{
  height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgba(4, 0, 43, 0.918);
  background-size: cover;
  background-repeat: repeat;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.button1:hover, a:hover {
  opacity: 0.7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}
.container,.menu{
  font-family: 'Times New Roman', Times, serif;

}
